<div id="divinformacion">
    <!-- Utilizo solo inputs type text porque hay problema con las comas de los números -->
    <form id="informacion" class="form-horizontal" onsubmit="event.preventDefault();"><!-- The form name is the same that the table name -->
        <!-- Prevent default evita que el formulario se envíe -->
        <h4><strong>Data:</strong></h4>
        <div class="form-group">
            <label for="id"  class="control-label col-xs-3">id:</label>
            <div class="col-xs-9">
                <input type="number" class="form-control" id="id" name="id" data-toggle="tooltip" title="id">
            </div>
        </div>
        
        <div class="form-group">
            <label for="name" class="control-label col-xs-3">Name:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="name" name="name" data-toggle="tooltip" title="Write the name">
            </div>
        </div>
         
        <div class="form-group">
            <label for="pop_male" class="control-label col-xs-4">Pop_male:</label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id="pop_male" name="pop_male" min=1 data-toggle="tooltip" title="population male">
            </div>
        </div>
        
        <div class="form-group">
            <label for="pop_female" class="control-label col-xs-4">Pop_female:</label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id="pop_female" name="pop_female" data-toggle="tooltip" title="population female">
            </div>
        </div>
        
        <div class="form-group">
            <label for="pop_urban" class="control-label col-xs-3">Pop_urban:</label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id="pop_urban" name="pop_urban" data-toggle="tooltip" title="population urban">
            </div>
        </div>
        
        <div class="form-group">
            <label for="pop_rural" class="control-label col-xs-4">Pop_rural:</label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id="pop_rural" name="pop_rural" data-toggle="tooltip" title="population rural">
            </div>
        </div>
        
        <div class="form-group">
            <label for="pop" class="control-label col-xs-4">Pop:</label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id="pop" name="pop" data-toggle="tooltip" title="population total">
            </div>
        </div>
        
        <div class="form-group">
            <label for="gdp2000" class="control-label col-xs-4">GDP2000:</label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id="gdp2000" name="gdp2000" data-toggle="tooltip" title="GDP 2000">
            </div>
        </div>
        <div id="buttons_provincias" class="btn-group">
            <!-- Saco los botones fuera para que no se envíe el formulario -->
            <button class="btn-primary" id="reset_building" type="reset" data-toggle="tooltip" title="Cleans the form">Reset form</button>
            <button class="btn-primary" id="insert_building_info" data-toggle="tooltip" title="Creates new datas with de current data form">Insert</button>
            <button class="btn-primary" id="update_building_info" data-toggle="tooltip" title="Saves the changes in the current datas">Update</button>
            <button class="btn-danger" id="delete_building_info" data-toggle="tooltip" title="Deletes the current datas">Delete</button>
        </div>
    </form> 
</div> <!-- divFormBuildings--> 