<div id="divGetBuilding_ru">
    <h2>&nbsp;INFORMACIÓN DE RURAL</H2>

    <form id="formGetBuilding_ru" onsubmit="event.preventDefault();">
        <div class="form-group">
            <label for="gid"  class="control-label col-xs-3">&nbsp;gid:</label>
            <div class="col-xs-9">
                <input type="number" class="form-control" id="gid" name="gid" data-toggle="tooltip" title="Specify the gid">
            </div>
        </div>
        <button class="btn-primary" id="buttonGetBuilding_ru" data-toggle="tooltip" title="Retrieve data">Get rural data</button>
    </form> 
</div><!--divFomGetBuilding_ru -->