<div id="divGetBuilding_info">
    <h2>&nbsp;INFORMACIÓN</H2>

    <form id="formGetBuilding_info" onsubmit="event.preventDefault();">
        <div class="form-group">
            <label for="id"  class="control-label col-xs-3">&nbsp;id:</label>
            <div class="col-xs-9">
                <input type="number" class="form-control" id="id" name="id" data-toggle="tooltip" title="Specify the id">
            </div>
        </div>
        <button class="btn-primary" id="buttonGetBuilding_info" data-toggle="tooltip" title="Retrieve data">Get information</button>
    </form> 
</div><!--divFomGetBuilding_info -->