<div id="divAyuda" class="tab-pane fade">
    <h1>&nbsp;&nbsp;<B>Ayuda    帮助</B></h1>
    <br />
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Este sistema es el sistema de visualización de información de las condiciones nacionales básicas de China, la información proviene de datos oficiales del gobierno.</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Esta plataforma muestra los datos geoespaciales básicos de China, incluidos Hong Kong, Macao y Taiwán.</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. De acuerdo con los requisitos gubernamentales pertinentes, estos datos son datos históricos y no se garantiza que se actualicen continuamente.</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. En la etapa inicial de desarrollo, es inevitable que haya deficiencias y omisiones. Si hay algún defecto, entiéndalo.</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Agradecimiento especial: Instructor: Mora Navarro, Joaquin Gaspar (España); Miembro del equipo de I+D: Wu,Ruochen (China); Dujardin,Clément (Francia); Ducasse,Antoine (Francia)</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Para obtener información oficial más actualizada, visite la <a href="http://data.stats.gov.cn/">Red Nacional de Datos</a> (El idioma del sitio web es el <B>CHINO</B>).</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. Unidad de apoyo: Universitat Politècnica de València (UPV)</p>
    <br />
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>Desarrollo de web y Geoportales</B></p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>Equipo de desarrollo de proyectos</B></p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>Mayo de 2019</B></p>
    <br />
    <br />
    <br />
    <br />
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 该系统是中国基本国情的信息可视化系统，信息来自官方政府数据。</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 该平台展示了中国的基本地理空间数据，包括了中国的港澳台地区。</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 根据政府的相关规定，所展示的数据均为历史数据，且无法保证持续更新。</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 此项目为开发初期阶段，不可避免地会存在缺陷和纰漏。 如有不足，请谅解。</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 特别感谢： 指导教师： Mora Navarro, Joaquin Gaspar (西班牙); 研发组成员: 吴若晨 (中国); Dujardin,Clément (法国); Ducasse,Antoine (法国)</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. 更多最新的官方数据，请访问<a href="http://data.stats.gov.cn/">国家数据网</a>。</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. 支持单位： 瓦伦西亚理工大学</p>
    <br />
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>Web开发和Geoportal</B></p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>项目研发组</B></p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>2019年5月</B></p>
</div>
