<div id="divTabla" class="tab-pane fade">
    <h1>&nbsp;&nbsp;<B>Tabla de correspondencia de información    信息对照表</B></h1>
    <br />
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La siguiente información es la imagen del código GID de la PROVINCIA del mapa y la tabla de información GID RURAL incluida en la provincia:</p>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下列信息为地图省份GID代码对照图和省份所包含的乡村GID代码信息表：</p>
    <br />

    <p align="center"><img src="img/330834-151205093P781.jpg"/></p>
    <br />
    <br />
    <p align="center"><img src="img/tabla001.jpg" width="1000px"/></p>
</div>
